examples/schematestgood.xsd

<?xml version="1.0"?>

<!-- schema validation test. This is fine. -->

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' version="1.0">
  <xs:element name='data'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='name' type='xs:string'/>
	<xs:element name='poodle' maxOccurs='unbounded' type='xs:integer'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
